<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="/style/main.css">
<title>Thanks!</title>
</head>

<body>
<h1>List of secret Santa names</h1>

<p>Thanks for signing up!  Below is the list of everyone we have so far.  You'll be getting an email shortly with the name of the person you'll be buying for.</p>

<p>
<ol>
{% for person in people %}
<li>{{person.name}}: {{person.email}}</li>
{% endfor %}
</ol>
</p>

<p>
Below are the secret santa recipients for the individuals listed above.  Please email the above users with the name below that matches their numbers (for example, email the address at 1 above with the name at 1 below!)</br></br>
If a person has been matched up with themselves, please hit the refresh button on your browser to generate a new listing
</br>
</br>
<ol>
{% for name in names %}
<li>{{name}} </li>
{% endfor %}
</ol>
</p>
</body>
</html>