<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="/style/main.css">
<title>Secret Santa Sign-up Form</title>

</head>
<body>
<h1>Hugemas 2012 Secret Santa</h1>

<div id="left">
<p>
Hello there!! As you may or may not have heard, we are doing a Secret Santa this year.  For those that don't know what that is, each person will buy presents for one other person, and keep it a surprise until the gift exchange (date and time TBD).
</br>
</br>
As always, Wikipedia has more info: <a href = "http://en.wikipedia.org/wiki/secret_santa">To the Wiki!</a>
</br>
</br>
I made a little form to keep track of who is going to take part.  All we need is your name and email address.  Once we have everyone signed up, you'll be emailed the name and email address of the person you'll be buying for!
</br>
<div id="important">If you sign up, you have to buy a present for someone, because your name will be given to another person, and they'll be buying you a gift as well. So don't screw it up!</div>
</p>
<p>
Merry Christmas!
</p>

<form name="santa" action="/thanks.html" method="post">
<div>Name: <input type="text" name="fullname"></div>
<div>Email: <input type="text" name ="emailaddress"></div>
</br>
<div><input type="submit" value="Submit"></div>
</form>
</div>

<div id="right">
<img src="/img/snowman.jpg" alt="Ho Ho Ho" height="300" width="500">
</div>

</body>
</html>